server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/food_ordering_db
    username: postgres
    password: sweet

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  application:
    name: food-ordering-api